*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#logorock{
  width: 50px;
   
}
#logoone{
 width: 250px;
   

}
.buttonhearder{
    border: solid 2px white;
    text-decoration: none;
    color: white;
    padding:5px;
    border-radius: 5px;
    font-size: 1.3em;
    transition: 0.4s;
    row-gap:10px;
}

a:hover{
   border: #730330;
}