*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
#logorock{
  width: 50px;
   
}
#logoone{
 width: 250px;
   

}
.buttons{
    display: flex;
    gap: 10px;
}
.buttonhearder{
    color: white;
    border: solid 2px white;
    padding:5px;
    background-color: black;
    border-radius: 5px;
    font-size: 1.3em;
    transition: 0.4s;
    cursor: pointer;
}

.buttonhearder:hover{
    border: solid 2px #7e012c;
    font-size: 1.4em;
}