*{
    margin:0;
    padding:0;

}
header{
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
#imgg{
  width: 50px;
   
}
#imgp{
 width: 200px;
   

}
nav a {
    border: solid 2px white;
    text-decoration: none;
    color:white;
    padding:5px;
   
}

a:hover{
   border: solid 2px #730330;
padding:10px;
}